
{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1>Sign Up</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render the form fields for 'name', 'email', and 'password' -->
        <div style="display: flex; gap: 1000px; margin-top: 15px;">
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <a href="{% url 'login' %}" class="btn btn-primary">LOG IN</a>
        </div>
          
          

    </form>

    <!-- Success message and user data display -->
    {% if user_data %}
    <div class="mt-4">
        <h3>Sign Up Successful!</h3>
        <p><strong>Your ID:</strong> {{ user_data.id }}</p>
        <p><strong>Name:</strong> {{ user_data.name }}</p>
        <p><strong>Email:</strong> {{ user_data.email }}</p>
    </div>
    {% endif %}
</div>

{% endblock %}