{% extends "base.html" %}

{% block title %}User List{% endblock %}

{% block content %}
<h1 class="text-center">User List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.userid }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.location }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'user_create' %}" class="btn btn-primary">Create New User</a>
{% endblock %}
